<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <h2 class="text-primary text-center">Query 8</h2>
                <h4 *ngFor="let data of data_all">
                    {{data.item_name}} - {{data.quarter}} - {{data.quantity}}
                </h4>
            </div>
        </div>
        <!-- <div class="col-8">
            <div class="chart-wrapper">
                <canvas baseChart [type]="'line'" [datasets]="chartData" [labels]="chartLabels"
                    [options]="chartOptions">
                </canvas>
            </div>
        </div> -->
    </div>
</div>